<template>
  <!-- template blogs -->
  <v-container class="ma-0 pa-0" grid-list-sm>
    <div class="text-right">
      <v-btn small text to="/blogs" class="black--text">
        All Blogs <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </div>
    <v-layout wrap>
      <!-- <v-flex v-for="blog in blogs" :key="`blog-` + blog.id" xs6>
        <v-card :to="'/blog/' + blog.id">
          <v-img
          :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'"
          class="white--text"
          height="200px"
          >
            <v-card-title
            class="fill-height align-end"
            v-text="blog.title"
            ></v-card-title>
          </v-img>

          <v-card-action>
            <v-progress-linear
            color="blue-grey"
            height="7"
            >
            </v-progress-linear>
          </v-card-action>

          <v-card-action>
            <span>{{ blog.title.substring(0,15) }}</span>
          </v-card-action>

        </v-card>
      </v-flex> -->
      <blog-item-component
        v-for="blog in blogs"
        :key="`blog-` + blog.id"
        :blog="blog"
      >
      </blog-item-component>
    </v-layout>

    <!-- <button @click="increment(10)" >Tambah</button>
    {{ count }} -->
  </v-container>
</template>

<script>
import BlogItemComponent from '../components/BlogItemComponent.vue';
import { mapGetters, mapMutations } from "vuex";

export default {
  data: () => ({
    apiDomain: "https://demo-api-vue.sanbercloud.com",
    blogs: [],
  }),

  components : {
    'blog-item-component' : BlogItemComponent
  },

  computed: {

    ...mapGetters({
      'count' : 'counter/count'
    })
  },

  methods: {
    go() {

      const config = {
      method: "get",
      url: this.apiDomain + "/api/v2/blog/random/4",
    };

    this.axios(config)
      .then((response) => {
        let { blogs } = response.data;
        this.blogs = blogs;
      })
      .catch((error) => {
        console.log(error);
      })
    },

    // increment (payload) {
    //   this.$store.commit('increment', payload)
    // }

    ...mapMutations({
      'increment' : 'counter/increment'
    })
  },
  
  created() {

    // console.log(this.$store.state.count)
    this.go()
    
  },
};
</script>