<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="cari" placeholder="Masukkan kata kunci">
        <!-- <h2 v-model="cari"> -->
        <ul>
            <!-- <li v-for="book in even(books)">{{ book }}</li> -->
            <li v-for="book in hasil(books)">{{ book }}</li>
        </ul>
        <!-- </h2> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                cari: "",
                // buku: null,
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman'
                ]
            },

            // computed: {
            //     filterbuku: {
            //         get: function () {
            //             // let book = this.books
            //             return document.getElementById("app").innerHTML = this.books
            //         },
            //         // set: function () {
            //         //     return this.books.filter(function (a) {
            //         //         return book == this.cari
            //         //     })
            //         // }
            //     }
            // },

            methods: {
                hasil: function (books) {
                    return this.books.filter((book) => {
                        return book.toLowerCase().match(this.cari)
                    })
                }
            },

            // computed: {
            //     buku: function() {
            //         return this.books.filter((book) => {
            //             return book.books.include(this.cari)
            //         })
            //     }
            // }
        })
    </script>
</body>

</html>

