<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{ 'Nilai a : ' + hasil}}</h1>
        <h1>{{ 'Rata rata : ' + rata}}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: 0,
                hasil: 0,
                rata: 0,
            },
            methods: {
                openForm: function () {
                    this.hasil = 0;
                    let b;
                    for (b = 0; this.hasil < 10; b++) {
                        this.a = prompt("Masukkan Nilai a");
                        const nilai = parseInt(this.a);
                        this.hasil = this.hasil + nilai;
                    }
                    this.rata = this.hasil / b;
                },
            }
        })
    </script>
</body>

</html>