<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="user-list-quiz">
        <form @submit.prevent="addNewuser">
            <label for="newuser"></label>
            <input v-model="newuser" id="user-item" placeholder=" ">
            <button>Add</button>
        </form>
        <ul>
            <li is="user-item" v-for="user in users" @remove="newuser.splice(index, 1)"></li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        Vue.component('user-item', {
            template: '\
        <li>\
         {{ this.users }}\
         <button @click="$emit(\'edit\')">Edit</button>\
         <button @click="$emit(\'remove\')">Remove</button>\
        </li>\
        ',
            props: ['newuser']
        })

        var vm = new Vue({
            el: '#user-list-quiz',
            data: {
                users: [
                    {
                        'name': 'Muhammad Iqbal Mubarok'
                    },
                    {
                        'name': 'Ruby Purwanti'
                    },
                    {
                        'name': 'Faqih Muhammad'
                    }
                ],
            },
        })
    </script>
</body>

</html>