<template>
  <v-app >
    <Dialog />
    <div class="mb-5">
      <Navbar />
    </div>
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import Navbar from "./components/Navbar.vue";

export default {
  name: "App",
  components: {
    Dialog: () => import(/* webpackChunkName: "" */ "./components/Dialog.vue"),
    Navbar,
  },
  data: () => ({
  }),
};
</script>


