
<template>
  <div class="about">
    <v-container fluid>
      <v-row justify="center" class="my-5">
        <v-btn text class="mx-4"
          ><v-icon>mdi-gitlab</v-icon>Repository Project</v-btn
        >
        <v-btn text class="mx-4"
          ><v-icon>mdi-youtube</v-icon>Video Presentasi</v-btn
        >
        <v-btn text class="mx-4"
          ><v-icon>mdi-camera</v-icon>Screenshoot Web</v-btn
        >
      </v-row>
      <v-row>
        <v-col cols="4">
          <v-img
            :src="require('../assets/fajar.png')"
            contain
            max-height="400"
          ></v-img>
        </v-col>
        <v-col cols="8">
          <div class="detel">
            <h1><span>Hai! Saya </span> Fajar <span>Rizki </span>Putra</h1>
            <p>
              Saya biasa dipanggil Fajar. Saya lulusan Teknik Infomartika<br />
              spesialisasi Front-End Developer <br />
              dengan beberapa proyek Web Design yang telah saya buat.<br />
              Terimakasih. Hatur Nuhun. <br />
            </p>
            <v-spacer class="mt-15"></v-spacer>
            <v-btn 
            href="https://www.instagram.com/fajarzkputra/"
            target="_blank"
            text class="pa-3 mx-2"><v-icon>mdi-instagram</v-icon></v-btn>
            <v-btn 
            href="https://twitter.com/putrafajarrizky"
            target="_blank"
            text class="pa-3 mx-2"><v-icon>mdi-twitter</v-icon></v-btn>
            <v-btn 
            href="https://facebook.com/rizky.putra.9803"
            target="_blank"
            text class="pa-3 mx-2"><v-icon>mdi-facebook</v-icon></v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>
    <v-divider class="mt-8"></v-divider>
    <v-container fluid>
      <v-row>
        <v-col cols="8">
          <div class="detel">
            <h1 class="text-right">
              <span>Hai! Saya </span> Mochamad <span>Luvian </span>Tumbelaka
            </h1>
            <p class="text-right">
              Saya Luvian biasa dipanggil toem. Saya Suka Persib pake banget,
              <br />
              dan saya punya slogan "Persib Dulu Baru Kamu".<br />
              Kalian bisa mengetahu hal lain tentang saya <br />
              dengan cara kunjungi berbagai media social saya dibawah ini <br />
            </p>
            <v-row justify="end" class="mt-15">
              <v-btn 
              href="https://instagram.com/luviantoem?utm_medium=copy_link"
              target="_blank"
              text class="pa-3 mx-2"><v-icon>mdi-instagram</v-icon></v-btn>
              <v-btn 
              href="https://twitter.com/toemluvian?t=SlxtI5HTMfzjdfZStGkZcw&s=09"
              target="_blank"
              text class="pa-3 mx-2"><v-icon>mdi-twitter</v-icon></v-btn>
              <v-btn 
              href="https://www.facebook.com/Mochamad.L.Tumbelaka"
              target="_blank"
              text class="pa-3 mx-2"><v-icon>mdi-facebook</v-icon></v-btn>
            </v-row>
          </div>
        </v-col>
        <v-col cols="4">
          <v-img
            :src="require('../assets/luvian.png')"
            contain
            max-height="400"
          ></v-img>
        </v-col>
      </v-row>
    </v-container>
    <v-divider class="mt-8"></v-divider>
    <v-container fluid>
      <v-row>
        <v-col cols="4">
          <v-img
            :src="require('../assets/myfoto.png')"
            contain
            max-height="400"
          ></v-img>
        </v-col>
        <v-col cols="8">
          <div class="detel">
            <h1><span>Hallo! Saya </span> Faris <span>Hadi </span>Abdullah</h1>
            <p>
              Saya adalah salah satu peserta Jabar Coding Camp Batch 2 <br />
              Saya merupakan lulusan Hukum Tata Negara UIN SGD Bandung <br />
              But, nothing special about me, just common creature<br />
            </p>
            <v-spacer class="mt-15"></v-spacer>
            <v-btn 
            href="https://www.instagram.com/farishadiabdullah/"
            target="_blank"
            text class="pa-3 mx-2"><v-icon>mdi-instagram</v-icon></v-btn>
            <v-btn 
            href="https://www.facebook.com/faris.abdullah.75"
            target="_blank"
            text class="pa-3 mx-2"><v-icon>mdi-facebook</v-icon></v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>


<style>
* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.detel {
  margin-left: 8%;
  margin-top: 15%;
}

.detel h1 {
  color: rgb(233, 233, 233);
  margin-bottom: 20px;
}

span {
  color: red;
}

.detel p {
  color: white;
  line-height: 20px;
}
</style>