<template>
  <!-- template blogs -->
  <v-container class="fill-width">
    <!-- <v-subheader> All Blogs </v-subheader> -->

    <v-toolbar rounded color="dark" class="mt-5">
      <v-toolbar-title>Cari blog</v-toolbar-title>
      <v-text-field
        v-model="cari"
        cache-items
        class="mx-4"
        flat
        hide-details
        label="Masukkan kata kunci"
        solo-inverted
      >
      </v-text-field>
      <!-- tambah FARIS-->
      <!-- <v-btn text @click="FilteredBlogs" ><v-icon>mdi-file-find</v-icon></v-btn> -->
    </v-toolbar>

    <v-btn block color="primary" class="mb-3 mt-10" to="/crud" v-if="!guest">
      <!-- tambah v-if FARIS-->
      <v-icon left>mdi-table-edit</v-icon>
      Manage Blog
    </v-btn>
    <v-layout wrap>
      <blog-item-component
        v-for="blog in filterdeBlogs(blogs)"
        :key="`blog-` + blog.id"
        :blog="blog"
      >
      </blog-item-component>
    </v-layout>

    <v-pagination
      class="mt-10"
      v-model="page"
      @input="go"
      :length="lengthPage"
      :total-visible="perPage"
    >
    </v-pagination>
  </v-container>
</template>

<script>
// tambah mapgetters FARIS
import { mapGetters } from "vuex";
import BlogItemComponent from "../components/BlogItemComponent.vue";
export default {
  data: () => ({
    apiDomain: "https://demo-api-vue.sanbercloud.com",
    blogs: [],
    page: 0,
    lengthPage: 0,
    perPage: 0,
    cari: "",
// tambah faris

  }),

  components: {
    "blog-item-component": BlogItemComponent,
  },
  // tambah computed FARIS
  computed: {
    ...mapGetters({
      guest: "auth/guest",
    }),
  },

  methods: {
    go() {
      const config = {
        method: "get",
        url: this.apiDomain + "/api/v2/blog?page=" + this.page,
      };

      this.axios(config)
        .then((response) => {
          let { blogs } = response.data;
          this.blogs = blogs.data;
          this.page = blogs.current_page;
          this.lengthPage = blogs.last_page;
          this.perPage = blogs.per_page;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filterdeBlogs: function () {
      return this.blogs.filter((blog) => {
        return blog.title.toLowerCase().match(this.cari);
      });
    },

  },
  created() {
    this.go();
  },
};
</script>

