<template>
  <!-- percobaan FARIS -->

  <v-container class="mt-10 grey darken-1" rounded>
    <v-row no-gutters>
      <v-card class="mb-3">
        <v-btn small text to="/blogs" class="white--text">
          <v-icon>mdi-chevron-left</v-icon>Back
        </v-btn>
      </v-card>
      <v-col cols="12" sm="6" md="12">
        <v-card v-if="blog.id" class="fill-width">
          <v-img
            :src="
              blog.photo
                ? apiDomain + blog.photo
                : 'https://picsum.photos/200/300'
            "
            max-height="400px"
          >
          </v-img>
          <v-card-text>
            <v-simple-table dense>
              <tr>
                <td class="white--text">
                  <h2>{{ blog.title }}</h2>
                </td>
                <!-- <v-btn
                  small
                  text
                  to=""
                  color="white--text"
                  v-if="!guest"
                  @clik:to="edit"
                  >Edit <v-icon>mdi-pencil-right</v-icon>
                </v-btn> -->
              </tr>
              <v-divider class="my-3" justify="left"></v-divider>
              <tr>
                <td>{{ blog.description }}</td>
              </tr>
            </v-simple-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>

  <!-- <div>
    <v-card v-if="blog.id" class="fill-width">
      <v-img
        :src="
          blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'
        "
        class="white--text"
        height="400px"
      >
        <v-card-title></v-card-title>
      </v-img>

      <v-card-text>
        <v-simple-table dense>
          <tbody>
            <tr>
              <td><v-icon>mdi-format-title</v-icon> Judul</td>
              <td class="white--text">{{ blog.title }}</td>
            </tr>
            <tr>
              <td><v-icon>mdi-note</v-icon> Deskripsi</td>
              <td>{{ blog.description }}</td>
            </tr>
            <v-btn class="mt-4" color="grey darken-4 white--text" elevation="2"
              >Edit</v-btn
            >
          </tbody>
        </v-simple-table>
      </v-card-text>
    </v-card>
  </div> -->
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data: () => ({
    blog: {},
    apiDomain: "https://demo-api-vue.sanbercloud.com",
  }),
  // tambah computed FARIS
  computed: {
    ...mapGetters({
      guest: "auth/guest",
    }),
  },
  methods: {
    go() {
      let { id } = this.$route.params;
      const config = {
        method: "get",
        url: `${this.apiDomain}/api/v2/blog/${id}}`,
      };
      this.axios(config)
        .then((response) => {
          let { blog } = response.data;
          console.log(blog.photo);
          this.blog = blog;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    edit() {
      alert('fitur ini belum tersedia')
    },
  },
  created() {
    this.go();
  },
};
</script>