<template>
  <!-- template blogs -->
  <v-container class="fill-width">
    <div class="text-right">
      <v-btn small text to="/blogs" class="white--text">
        All Blogs <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </div>
    <!-- blog item componen di hapus FARIS -->
      <v-layout wrap>
      <blog-item-component
        v-for="blog in blogs"
        :key="`blog-` + blog.id"
        :blog="blog"
      >
      </blog-item-component>
    </v-layout> 

    <!-- tambah sildeblogs FARIS -->
    <!-- <slide-blogs> </slide-blogs> -->
    <div>
      <v-row class="mt-4">
        <v-col class="mx-2">
          <v-divider></v-divider>
        </v-col>
        <v-col class="mx-2 mb-7 text-md-center">
          <v-btn small text to="/about" class="white--text">About Us</v-btn>
        </v-col>
        <v-col class="mx-2">
          <v-divider></v-divider>
        </v-col>
      </v-row>
    </div>

    <!-- tambah tampilan about us FARIS -->
    <v-row justify="center">
      <v-col>
        <v-hover v-slot="{ hover }">
          <v-card class="mx-auto my-auto" max-width="200">
            <v-img :src="require('../assets/fajar.jpg')">
              <v-expand-transition>
                <div
                  v-if="hover"
                  class="
                    d-flex
                    transition-fast-in-fast-out
                    black
                    darken-2
                    v-card--reveal
                    text-p
                    white--text
                  "
                  style="height: 25%"
                >
                  Fajar Rizki Putra
                </div>
              </v-expand-transition>
            </v-img>
          </v-card>
        </v-hover>
      </v-col>
      <v-col>
        <v-hover v-slot="{ hover }">
          <v-card class="mx-auto my-auto" max-width="200">
            <v-img :src="require('../assets/luvian.jpg')">
              <v-expand-transition>
                <div
                  v-if="hover"
                  class="
                    d-flex
                    transition-fast-in-fast-out
                    black
                    darken-2
                    v-card--reveal
                    text-p
                    white--text
                  "
                  style="height: 25%"
                >
                  M Luvian Tumbelaka
                </div>
              </v-expand-transition>
            </v-img>
          </v-card>
        </v-hover>
      </v-col>
      <v-col>
        <v-hover v-slot="{ hover }">
          <v-card class="mx-auto" max-width="200">
            <v-img max-height="200" :src="require('../assets/myfoto.jpg')">
              <v-expand-transition>
                <div
                  v-if="hover"
                  class="
                    d-flex
                    transition-fast-in-fast-out
                    black
                    darken-2
                    v-card--reveal
                    text-p
                    white--text
                  "
                  style="height: 25%"
                >
                  Faris Hadi Abdullah
                </div>
              </v-expand-transition>
            </v-img>
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
  </v-container>
  <!-- tambah tampilan blog -->
</template>

<script>
import BlogItemComponent from '../components/BlogItemComponent.vue';  
import { mapGetters, mapMutations } from "vuex";

export default {
  data: () => ({
    apiDomain: "https://demo-api-vue.sanbercloud.com",
    blogs: [],
  }),

  components: {
    'blog-item-component' : BlogItemComponent, 
  },

  computed: {
    ...mapGetters({
      count: "counter/count",
    }),
  },

  methods: {
    go() {
      const config = {
        method: "get",
        url: this.apiDomain + "/api/v2/blog/random/4",
      };

      this.axios(config)
        .then((response) => {
          let { blogs } = response.data;
          this.blogs = blogs;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    ...mapMutations({
    }),
  },

  created() {
    this.go();
  },
};
</script>

<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.8;
  position: absolute;
  width: 100%;
}
</style>