<template>
  <!-- App.vue -->

  <v-app>

    <Alert/>
    <Dialog/>
    
    <!-- <v-snackbar
    v-model="snackbarStatus"
    color="success"
    bottom
    timeout="2000"
    multi-line
    outlined
    >
    {{ snackbarText }}

      <template v-slot:action="{ attrs }">
        <v-btn
        color="grey"
        text
        v-bind="attrs"
        @click="snackbarStatus = false"
        >
        close
        </v-btn>
      </template>
    </v-snackbar> -->

    <v-navigation-drawer app v-model="drawer">
      <!-- untuk diedit -->
      <v-list>
        <v-list-item v-if="!guest">
          <v-list-item-avatar>
            <v-img :src="user.photo_profile ? apiDomain + user.photo_profile : 'https://i.picsum.photos/id/1005/5760/3840.jpg?hmac=2acSJCOwz9q_dKtDZdSB-OIK1HUcwBeXco_RMMTUgfY'"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{ user.name }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <div class="pa-2" v-if="guest">
          <v-btn block color="primary" class="mb-1" @click="login" >
            <v-icon left>mdi-lock</v-icon>
            Login
          </v-btn>
          <v-btn block color="succes">
            <v-icon left>mdi-account</v-icon>
            Register
          </v-btn>
        </div>

        <v-divider></v-divider>

        <v-list-item
        v-for="(item, index) in menus"
        :key="`menu-${index}`"
        :to="item.route"
        >
          <v-list-item-icon>
            <v-icon left>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <template v-slot:append v-if="!guest" >
        <div class="pa-2">
          <v-btn block color="red" dark @click="logout" >
            <v-icon left>mdi-lock</v-icon>
            Logout
          </v-btn>
        </div>
      </template>
      <!--  -->
    </v-navigation-drawer>

    <v-app-bar app color="succes" dark >
      <!-- untuk diedit -->
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" ></v-app-bar-nav-icon>
      <v-toolbar-title>KaumRebahanApp</v-toolbar-title>
      <v-spacer></v-spacer>
      <!--  -->
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>
      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>

    <v-footer app> @KaumRebahan | VueJS </v-footer>
  </v-app>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: "App",
  components: { 
    Alert: () => import('./components/Alert.vue'),
    Dialog: () => import('./components/Dialog.vue')
  },

  data: () => ({
    drawer: false,
    menus: [
      { title: "Home", icon: "mdi-home", route: "/" },
      { title: "Blogs", icon: "mdi-note", route: "/blogs" },
    ],
    // guest: true,
    apiDomain: 'https://demo-api-vue.sanbercloud.com'
    // snackbarStatus: false,
    // snackbarText: "Yosh! bisa Login bray!!!"
  }),

  computed: {
    ...mapGetters ({
      guest: 'auth/guest',
      user: 'auth/user',
      token: 'auth/token'
    })
  },

  methods: {
    logout() {
      let config = {
        method: 'post',
        url: this.apiDomain + '/api/v2/auth/logout',
        headers: {
          'Authorization' : 'Bearer ' + this.token
        }
      }

      this.axios(config)
        .then(() => {
          this.setToken('')
          this.setUser({})
          
          // this.guest = true
          this.setAlert ({
            status: true,
            color: "success",
            text: "Mau kemana bray??? Buru buru amat!",
          })
        })
        .catch((response) => {
          console.log(response)
        })
      
    },
    login() {
      this.setDialogComponent({'component' : 'login'})
      // this.guest = false
      // this.setAlert ({
      //   status: true,
      //   color: "success",
      //   text: "Yosh! bisa Login bray!!!"
      // })
    },
    ...mapActions ({
      setAlert: 'alert/set',
      setDialogComponent: 'dialog/setComponent',
      setToken: 'auth/setToken',
      setUser: 'auth/setUser',
      checkToken: 'auth/checkToken'
    
    }),
  },

  mounted () {
    if(this.token){
      this.checkToken(this.token)
    }
  }

  // mounted(){
  //   this.snackbarStatus = true
  // }
};
</script>
