<template>

  <v-app id="app">
    <Alert />
    <Dialog />
    
    <v-app-bar app dark class="px-0">
      <v-spacer></v-spacer>
      <v-card>
        <v-tabs dark class="fill-width">
          <v-tab
            v-for="(item, index) in menus"
            :key="`menu-${index}`"
            :to="item.route"
            >{{ item.title }}
          </v-tab>
        </v-tabs>
      </v-card>
      <v-menu
        transition="slide-y-transition"
        v-model="menu"
        :close-on-content-click="true"
        offset-y
      >
        <template v-slot:activator="{ on, attrs }">
          <v-tab dark v-bind="attrs" v-on="on" >
            <v-icon>mdi-account</v-icon>
          </v-tab>
        </template>

        <v-card>
          <v-list>
            <v-list-item>
              <div v-if="guest">
                <v-btn block class="mb-2 primary--text" @click="login">
                  Login
                </v-btn>
                <v-btn block text @click="register"> Register </v-btn> 
              </div>
            </v-list-item>
            <v-list-item v-if="!guest">
              <v-list-item-avatar>
                <v-img
                  :src="
                    user.photo_profile
                      ? apiDomain + user.photo_profile
                      : 'https://i.picsum.photos/id/1005/5760/3840.jpg?hmac=2acSJCOwz9q_dKtDZdSB-OIK1HUcwBeXco_RMMTUgfY'
                  "
                ></v-img>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>{{ user.name }}</v-list-item-title>
                <v-btn color="red" dark @click="logout">
                  <v-icon left>mdi-lock</v-icon>
                  Logout
                </v-btn>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>

    <v-footer>
      <v-card flat tile width="100%" class="grey darken-4 text-center">
        <v-card-text class="white--text">
          {{ new Date().getFullYear() }} — <strong>Kelompok 12</strong>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>
</template>

<script>

import { mapGetters, mapActions } from "vuex";

export default {

  name: "App",
  components: {
    Alert: () => import("./components/Alert.vue"),
    Dialog: () => import("./components/Dialog.vue"),
    Loader: () => import("./components/Loader.vue"),
    Search: () => import("./components/Search.vue"),

    Register: () => import('./components/Register.vue')  //ditambah FARIS

  },

  data: () => ({
    menus: [
      { title: "Home", icon: "mdi-home", route: "/" },
      { title: "Blogs", icon: "mdi-note", route: "/blogs" },
      { title: "About Us", icon: "mdi-note", route: "/about" },
    ],
    apiDomain: "https://demo-api-vue.sanbercloud.com",
    menu: false,
  }),

  computed: {
    ...mapGetters({
      guest: "auth/guest",
      user: "auth/user",
      token: "auth/token",
    }),
  },

  methods: {
    logout() {
      let config = {
        method: "post",
        url: this.apiDomain + "/api/v2/auth/logout",
        headers: {
          Authorization: "Bearer " + this.token,
        },
      };

      this.axios(config)
        .then(() => {
          this.setToken("");
          this.setUser({});

          this.setAlert({
            status: true,
            color: "success",
            text: "Anda berhasil Logout",
          });
        })
        .catch((response) => {
          console.log(response);
        });
    },
    login() {
      this.setDialogComponent({ component: "login" });
    },

    register() {
      this.setDialogComponent({ component: "register" });
    },
    ...mapActions({
      setAlert: "alert/set",
      setDialogComponent: "dialog/setComponent",
      setToken: "auth/setToken",
      setUser: "auth/setUser",
      checkToken: "auth/checkToken",
    }),
  },

  mounted() {
    if (this.token) {
      this.checkToken(this.token);
    }
  },
};
</script>

<style>
* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
</style>