<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan Vuex</title>
    <style>
        body {
            font-family: sans-serif;
            margin: 5%;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>{{ $store.state.count }}</h1>
        <p>Stage Management Pattern</p>
        <button @click='handleclick'>Hitung</button>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>

    <script>
        // bisa saja hanya const store
        const storecontainer = new Vuex.Store({
            state: {
                count: 1,
                title: 'Vuex',
            },
            mutations: {
                increment(state) {
                    state.count++
                }
            },
            actions: {
                increment(context) {
                    setTimeout(() => {
                        context.commit('increment')
                    }), 2000
                }
            }
        })

        new Vue({
            el: '#app',
            data: {

            },
            // dan disini hanya store,
            store: storecontainer,
            methods: {
                handleclick() {
                    this.$store.commit('increment')
                }
            }
        })
    </script>

</body>

</html>