<template>
  <v-container grid-list-md class="justify-center">
    <v-layout row wrap>
      <v-flex xs10 sm5 class="my-5 mx-5 align-content-center" >
        <img src="../assets/bansos.png" width="100%" />
      </v-flex>
      <v-spacer></v-spacer>
      <v-flex xs10 sm5 class="my-5 mx-5 align-content-center">
        <h1></h1>
        <p>
          Komplek Panghegar adalah sebuah area di wilayah Kelurahan Cipadung
          Kulon, Kecamatan Panyileukan, yang terdiri dari 9 Rukun Warga (RW) dan
          13 Rukun Tetangga (RT). Pejabat tingkat RW setempat diharapkan mengisi Formulir
           untuk menginput data-data warganya yang
          membutuhkan bantuan di era pandemi.
        </p>
        <v-btn class="my-3 text-capitalize px-3 py-6" color="primary" elevation="3" to="/form">Masukkan Data <v-icon>mdi-chevron-double-right</v-icon> </v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  methods: {
    move() {
      this.$router.push({
        name: "form",
      });
    },
  },
};
</script>

