<template>
  <v-container class="text-center" v-if="this.$route.params.savedForm">
    <v-card
      class="mx-auto px-7 py-7 rounded-b-lg "
      max-width="1200"
      outlined
      elevation="3"
    >
      <h1 class="text-headline success--text mb-4" >Data berhasil disimpan!</h1>


      <v-btn color="primary" class="rounded-pill px-8 ma-2 py-6" to="/">
        Kembali ke Beranda
      </v-btn>
      <v-btn color="success" class="rounded-pill px-8 ma-2 py-6" to="/form">
        Tambah Data Baru
      </v-btn>
    </v-card>
  </v-container>
</template>

<script>
export default {
  beforeCreate() {
    if (!this.$route.params.savedForm) {
      document.title = this.$route.meta.title;
      this.$router.push("/");
    } else {
      
    }
  },
};
</script>