*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(30, 30, 30);
}

.ikon{
    width: 5%;
    position: relative;
    padding: 0px 5px 0px 10px;
}

.nav{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 10px 0px;
    align-items: center;
    justify-content: space-between;
}

.nav router-link{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav router-link:hover{
    color: red;
}

.detel{
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1{
    font-size: 30px;
    color: rgb(233, 233, 233);
    margin-bottom: 20px;
}

.detel a{
    background: white;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(2, 2, 2);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.detel a:hover{
    color: red;
}

span{
    color: red;
}

.detel p{
    color: white;
    line-height: 20px;
}

.images{
    width: 45%;
    height:  80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 5%;
}

.images:hover .foto{
    left: 45%;
}