<template>
  <v-dialog
    v-model="dialog"
    max-width="400"
    content-class="rounded-lg text-center bold-text"
  >
    <v-card class="py-4 pb-6">
      <v-card-title class="d-block text-h5 text-center error--text">
        Mohon Maaf!
      </v-card-title>

      <div class="px-5 mb-2">
      </div>

      <v-card-text
        >Data gagal disimpan dikarenakan server sedang sibuk, silahkan coba
        beberapa saat lagi.</v-card-text
      >

      <div class="px-10">
        <v-btn color="error rounded-4 py-6 px-10" @click="dialog = false">
          OK
        </v-btn>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Dialog",
  computed: {
    ...mapGetters({
      dialogStatus: "dialog/status",
    }),
    dialog: {
      get() {
        return this.dialogStatus;
      },
      set(value) {
        this.setDialogStatus(value);
      },
    },
  },
  methods: {
    ...mapActions({
      setDialogStatus: "dialog/setStatus",
    }),
  },
};
</script>