<template>
  <div id="navbar">
    <v-tabs>
      <router-link to="/">
        <img src="../assets/logoJDS.png" height="25px" class="my-3 mx-5" />
      </router-link>
      <v-spacer></v-spacer>

      <v-tab
        v-for="(item, index) in menus"
        :key="`menu-${index}`"
        :to="item.route"
        >{{ item.title }}
      </v-tab>
    </v-tabs>
  </div>
</template>

<script>
export default {
  data: () => ({
    switch1: true,
    menus: [
      { title: "Beranda", icon: "mdi-home", route: "/" },
      { title: "Formulir", icon: "mdi-note", route: "/form" },
    ],
  }),
};
</script>