<template>
  <v-flex xs6>
    <v-hover v-slot="{ hover }">
      <v-card :to="'/blog/' + blog.id" class="mx-2 my-2">
        <v-img
          :src="
            blog.photo
              ? apiDomain + blog.photo
              : 'https://picsum.photos/200/300'
          "
          class="white--text"
          height="200px"
        >
        </v-img>
        <v-expand-transition>
          <div
            v-if="hover"
            class="
              d-flex
              transition-fast-in-fast-out
              black
              darken-2
              v-card--reveal
              white--text
            "
            style="height: 50%"
          >
            {{ blog.title}}
          </div>
        </v-expand-transition>

      </v-card>
    </v-hover>
  </v-flex>
</template>


<script>
export default {
  data: () => ({
    apiDomain: "https://demo-api-vue.sanbercloud.com",
  }),
  props: ["blog"],
};
</script>

<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
</style>