<template v-slot:default="dialog">
  <v-card>
    <v-toolbar dark>
      <v-btn icon dark @click.native="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title class="text-md-center">Login</v-toolbar-title>
    </v-toolbar>
    <v-divider></v-divider>
    <v-container fluid>
      <v-form ref="form" class="ma-5">
        <v-text-field
          v-model="email"
          label="E-mail"
          required
          append-icon="mdi-email"
        >
        </v-text-field>
        <v-text-field
          v-model="password"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          label="Password"
          counter
          @click:append="showPassword = !showPassword"
        >
        </v-text-field>
        <div class="text-xs-center">
          <v-row justify="center" class="mt-2 mx-auto">
            <v-btn color="primary" @click="submit">
              Login
              <v-icon right dark>mdi-lock-open</v-icon>
            </v-btn>
            <v-btn text class="mx-2" @click="register">Register</v-btn> <!-- tambah fungsi register FARIS -->
          </v-row>
        </div>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      email: "",
      showPassword: false,
      password: "",
      apiDomain: "https://demo-api-vue.sanbercloud.com",
    };
  },

  methods: {
    ...mapActions({
      setAlert: "alert/set",
      setToken: "auth/setToken",
      setDialogComponent: "dialog/setComponent", // ditambah FARIS
     
    }),

    close() {
      this.$emit("closed", false);
    },

    register() {
      this.setDialogComponent({ component: "register" }); // ditambah FARIS
    },

    submit() {
      const config = {
        method: "post",
        url: this.apiDomain + "/api/v2/auth/login",
        data: {
          email: this.email,
          password: this.password,
        },
      };

      this.axios(config)
        .then((response) => {
          this.setToken(response.data.access_token);
          this.setAlert({
            status: true,
            color: "success",
            text: "Anda berhasil Login!",
          });
          this.close();
        })
        .catch((error) => {
          console.log(error);
          this.setAlert({
            status: true,
            color: "error",
            text: "Coba lagi dengan benar",
          });
        });
    },
  },
};
</script>