<template v-slot:default="dialog">
  <v-card>
    <v-toolbar light>
      <v-btn icon black @click.native="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title class="text-md-center">Register</v-toolbar-title>
    </v-toolbar>
    <v-divider></v-divider>
    <v-container fluid>
      <v-form ref="form" v-model="valid" class="ma-5" lazy-validation>
        <v-text-field
          v-model="name"
          :rules="nameRules"
          label="Nama"
          required
          append-icon="mdi-account"
        >
        </v-text-field>
        <v-text-field
          v-model="email"
          :rules="emailRules"
          label="E-mail"
          required
          append-icon="mdi-email"
        >
        </v-text-field>
        <v-text-field
          v-model="password"
          :rules="passwordRules"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          label="Password"
          counter
          @click:append="showPassword = !showPassword"
        >
        </v-text-field>
        <input type="file" name="photo" ref="photo" />
        <div class="text-xs-center">
          <v-row justify="center" class="mt-2 mx-auto">
            <v-btn color="primary" @click="daftar">
              Daftar
              <v-icon right dark>mdi-account</v-icon>
            </v-btn>
            <v-btn text class="mx-2" @click="close">Cancel</v-btn>
          </v-row>
        </div>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
import { mapActions } from "vuex";
import axios from "axios";
import Alert from "../components/Alert.vue";
import Loader from "../components/Loader.vue";

export default {
  components: { Alert, Loader },

  data() {
    return {
      valid: true,
      name: "", 
      email: "",
      showPassword: false,
      password: "",
      photo_profile: "",
      apiDomain: "https://demo-api-vue.sanbercloud.com",
      nameRules: [
        (v) => !!v || "Nama harus terisi",
        (v) => (v && v.length >= 5) || "Nama harus lebih dari 5 karakter",
      ],
      emailRules: [
        (v) => !!v || "E-mail harus terisi",
        (v) => /.+@.+\..+/.test(v) || "E-mail harus valid",
      ],
      passwordRules: [
        (v) => !!v || "Password harus terisi",
        (v) => (v && v.length >= 10) || "Password harus lebih dari 8 karakter",
      ],
      errors: [],
    };
  },

  computed: {
  },

  methods: {
    validate() {
      this.$refs.form.validate();
      this.setLoader({
        status: true,
      });
    },
    ...mapActions({
      setAlert: "alert/set",
      setToken: "auth/setToken",
      setLoader: "loader/set", 
    }),

    close() {
      this.$emit("closed", false);
    },

    reset() {
      this.$refs.form.reset();
    },
    clearForm() {
      this.name = "";
      this.email = "";
      this.password = "";
      this.photo_profile = "";
    },

    daftar() {
      if (this.$refs.form.validate()) {
        this.setLoader({
          status: true,
        });

        let file = this.$refs.photo.files[0];
        let formData = new FormData();
        formData.append("name", this.name);
        formData.append("email", this.email);
        formData.append("password", this.password);
        formData.append("photo_profile", file);

        const config = {
          method: "post",
          url: this.apiDomain + "/api/v2/auth/register",
          data: formData,
        };

        // this.axios(config)
        axios(config)
          .then((response) => {
            this.setToken(response.data.access_token);
            this.setAlert({
              status: true,
              color: "success",
              text: "Anda berhasil Daftar!",
            });
            this.close();
            this.clearForm();
            this.reset();
          })
          .catch((response) => {
            console.log(response);
            this.setAlert({
              status: true,
              color: "error",
              text: "Gagal Daftar",
            });
          });
      }
    },
  },
};
</script>